<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ERPCRM</title>
</head>
<body>
    <div class="Header">
        <h2 class="headline1"> ERPCRM</h2>
        <h2 class="headline2">ClientID:</h2>
    </div>

    <nav class="navbar">     <!--navbar-->
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Accounts.html">Accounts</a></li>
            <li><a href="leads.html">Leads</a></li>
        </ul>
    </nav>

    <div class="AccountsMenu">   <!--Accounts menu-->
        <div class="Accounts-item">Accounts</div>
         <div class="Accounts-item"> <a href="#New Account">New Account</a></div>    
         <div class="Accounts-item"> <a href="#Account List">Account List</a></div>  
         <div class="Accounts-item"> <a href="#Account Import">Account Import</a></div>  
         <div class="Accounts-item"> <a href="#Account Scoring">Account Scoring</a></div>  
     </div>
     
</body>
</html>

