{% extends "base.html" %}

{% block title %}Account Import{% endblock %}




{% block content %}

<a class="btn btn-outline-secondary btn-lg" href="{{ url_for('accounts')}}" role="button">Back</a>


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="text-center"><strong>Accounts Import</strong></h2>
    <form method="POST", enctype="multipart/form-data">

    <br>

        {{ form.hidden_tag() }}

        <div class="mb-3">
            
            
            <p>{{ form.file(class="form-control") }}</p>
            
            {{ form.submit(class="btn btn-primary") }}
    
          </div>


    </form>
</div>
{% endblock %}