{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}

<div class="accountsMenu">   <!--Accounts menu-->
    <a href="#New Account" class="Accounts-item-link">
        <div class="Accounts-item">New Account</div>
    </a>
    <a href="#Account List" class="Accounts-item-link">
        <div class="Accounts-item">Account List</div>
    </a>
    <a href="#Account Import" class="Accounts-item-link">
        <div class="Accounts-item">Account Import</div>
    </a>
    <a href="#Account Scoring" class="Accounts-item-link">
        <div class="Accounts-item">Account Scoring</div>
    </a>
</div>

 {% endblock %}
     
