{% extends "base.html" %}

{% block title %}Account Import{% endblock %}




{% block content %}

    <!-- Flashed message -->
{% for message in get_flashed_messages() %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

    <form method="POST", enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.file.label }} {{ form.file() }}


    </form>

{% endblock %}