{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}

<!-- Flashed message -->
{% for message in get_flashed_messages() %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="accountsMenu">   <!--Accounts menu-->

<a class="btn btn-secondary btn-lg" href="{{ url_for('new_account') }}" role="button">New Account</a>
<a class="btn btn-secondary btn-lg" href="{{ url_for('accounts_import') }}" role="button">Accounts Import</a>
<a class="btn btn-secondary btn-lg" href="{{ url_for('accounts_list') }}" role="button">Accounts List</a>    
<a class="btn btn-secondary btn-lg" href="#" role="button">Account Scoring</a>

</div>

 {% endblock %}
     
