<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ERPCRM</title>
</head>
<body>
    <div class="Header">
        <h2 class="headline1"> ERPCRM</h2>
        <h2 class="headline2">ClientID:</h2>
    </div>

    <nav class="navbar">    <!--navbar-->
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="accounts">Accounts</a></li>
            <li><a href="leads">Leads</a></li>
        </ul>
    </nav>

</body>
</html>

