<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

<div class="Loginpage">
    <h1>ERPCRM</h1>
    <div class="inputValues">
        <div class="UserID">
            <label for="UserID">UserID: </label>  <!--This equates to ClientID in database-->
            <input type="text" id="username">
        </div>

        <div class="passwordInput">
            <label type = "password">Password:</label>
            <input type="password" id="password">
        </div>
    </div>

        <div class="loginSubmit">
            <button type="submit">Login</button>
        </div>
    
</div>

</body>
</html>