{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>    
{% endfor %}

{% if name %}
    <p>User: {{name}}</p>
    <p>Password: {{password}}</p>
{% else %}
    <h1>ERPCRM</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        <p>{{ form.name(class="form-control") }}</p>
        {{ form.password.label(class="form-label") }}
        <p>{{ form.password(class="form-control") }}</p>
        {{ form.submit(class="btn btn-primary") }}
    </form>


{% endif %}

{% endblock %}