<nav class="navbar">    
    <ul>
        <li><a class="navbar-brand" href="{{url_for('index')}}">
            <img src="{{ url_for('static', filename=session['image']) }}" width="120"></img>
        </a></li>
        <li><a href="{{url_for('index')}}">Favorites</a></li>
        <li><a href="{{url_for('accounts')}}">Accounts</a></li>
        <li><a href="{{url_for('leads')}}">Leads</a></li>
        <li><a href="{{url_for('opportunities')}}">Opportunities</a></li>
        <li><a href="{{url_for('sales')}}">Sales</a></li>
        <li><a href="{{url_for('marketing')}}">Marketing</a></li>
        <li><a href="{{url_for('service')}}">Service</a></li>
        <li><a href="{{url_for('analytics')}}">Analytics</a></li>
        <li><a href="{{url_for('user')}}">User</a></li>
        <li><a href="{{url_for('help')}}">Help</a></li>  
        <li><a class="nav-link" href={{url_for('logout')}}>Logout</a></li>
        <!-- <li class='navbar-right'>{{ current_user.Email }}</li> -->

        <form method='POST' action="{{ url_for('search_accounts') }}" class="d-flex" role="search">
            {{ form.hidden_tag() }}

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search", name='search'>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </ul>
  </nav>