{% extends "base.html" %}
{% block title %}New Account{% endblock %}

{% block content %}

<!-- Flashed message -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<a class="btn btn-outline-secondary btn-lg" href="{{ url_for('accounts')}}" role="button">Back</a>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="text-center"><strong>New Account</strong></h2>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.company_name.label(class="form-label") }}
        <p>{{ form.company_name(class="form-control") }}</p>

        {{ form.company_revenue.label(class="form-label" )}}
        <p>{{ form.company_revenue(class="form-control") }}</p>
        
        {{ form.employee_head_count.label(class="form-label" )}}
        <p>{{ form.employee_head_count(class="form-control") }}</p>

        {{ form.company_specialties.label(class="form-label" )}}
        <p>{{ form.company_specialties(class="form-control") }}</p>

        {{ form.company_industry.label(class="form-label" )}}
        <p>{{ form.company_industry(class="form-control") }}</p>


        {{ form.company_type.label(class="form-label" )}}
        <p>{{ form.company_type(class="form-control") }}</p>

        {{ form.country.label(class="form-label" )}}
        <p>{{ form.country(class="form-control") }}</p>

        {{ form.city.label(class="form-label" )}}
        <p>{{ form.city(class="form-control") }}</p>

        {{ form.timezone.label(class="form-label" )}}
        <p>{{ form.timezone(class="form-control") }}</p>

        {{ form.submit(class="btn btn-primary") }}

    </form>
</div>




{% endblock %}