{% extends "base.html" %}

{% block title %}New Opportunity{% endblock %}

{% block content %}



<a class="btn btn-outline-secondary btn-lg" href="{{ url_for('opportunities')}}" role="button">Back</a>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="text-center"><strong>New Opportunity</strong></h2>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.account.label(class="form-label") }}
        <p>{{ form.account(class="form-control") }}</p>

        {{ form.opportunity.label(class="form-label") }}
        <p>{{ form.opportunity(class="form-control") }}</p>

        {{ form.value.label(class="form-label") }}
        <p>{{ form.value(class="form-control") }}</p>

        {{ form.stage.label(class="form-label") }}
        <p>{{ form.stage(class="form-control") }}</p>

        {{ form.submit(class="btn btn-primary") }}

    </form>
</div>



{% endblock %}