{% extends "base.html" %}

{% block title %}New User{% endblock %}

{% block content %}


<!-- Flashed message -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<a class="btn btn-secondary btn-lg" href="{{ url_for('user')}}" role="button">Back</a>
<h2 class="text-center"><strong>New User</strong></h2>
<br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        <p>{{ form.username(class="form-control") }}</p>


        {{ form.client_id.label(class="form-label" )}}
        <p>{{ form.client_id(class="form-control") }}</p>

        {{ form.password.label(class="form-label" )}}
        <p>{{ form.password(class="form-control") }}</p>

        {{ form.confirm_password.label(class="form-label" )}}
        <p>{{ form.confirm_password(class="form-control") }}</p>

        {{ form.submit(class="btn btn-primary") }}

    </form>
</div>

<br/>



{% endblock %}