{% extends 'base.html' %}
{% block title %}Opportunities{% endblock %}

{% block content %}
<div class="opportunitiesMenu">  <!-- menu-->
    <div class="Opportunities-item"> <a href="#New Oppurtunity">New Oppurtunity</a></div>    
    <div class="Opportunities-item"> <a href="#Oppurtunity List">Oppurtunity List</a></div>  
    <div class="Opportunities-item"> <a href="#Pipeline View">Pipeline View</a></div>  
    <div class="Opportunities-item"> <a href="#Sales & Forecasts">Sales & Forecasts</a></div>  
</div>
{% endblock %}