{% extends "base.html" %}

{% block title %}Test Hash{% endblock %}

{% block content %}



{% if passed %}

&#x2714; {{ hashed_password }} == {{ password }}

{% else %}

&#215; {{ hashed_password }} != {{ password }}

{% endif %}


{% else %}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.hashed_password.label(class="form-label") }}
        <p>{{ form.hashed_password(class="form-control") }}</p>

        {{ form.password.label(class="form-label") }}
        <p>{{ form.password(class="form-control") }}</p>
    
        {{ form.submit(class="btn btn-primary") }}

    </form>
</div>

{% endif %}

{% endblock %}