<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ERPCRM</title>
</head>
<body>
    <div class="Header">
        <h2 class="headline1"> ERPCRM</h2>
        <h2 class="headline2">ClientID:</h2>
    </div>

    <nav class="navbar">  <!--navbar-->
        <ul>
            <li><a href="index.html">Favorites</a></li>
            <li><a href="Accounts.html">Accounts</a></li>
            <li><a href="leads.html">Leads</a></li>
            <li><a href="Opportunities.html">Opportunities</a></li>
            <li><a href="Sales.html">Sales</a></li>
            <li><a href="Marketing.html">Marketing</a></li>
            <li><a href="Service.html">Service</a></li>
            <li><a href="Analytics.html">Analytics</a></li>
        </ul>
    </nav>

    <div class="ServiceMenu">  <!-- menu-->
         <div class="Service-item"> <a href="#Support Tickets">Support Tickets</a></div>    
         <div class="Service-item"> <a href="#Knowledge Base"> Knowledge Base</a></div>  
         <div class="Service-item"> <a href="#Service Reports"> Service Reports</a></div>  
     </div>



</body>
</html>