{% extends 'base.html' %}

{% block title %}Update Account{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <br>

    <h2 class="text-center"><strong>Update Account</strong></h2> 
    
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">

        <form action="{{ url_for('update', id=account.AccountID)}}" method="POST">
           
            {{ form.hidden_tag()}}
    
            {{ form.company_name.label(class="form-label") }}
            <p>{{ form.company_name(class="form-control", value=account.CompanyName) }}</p>
    
            {{ form.company_revenue.label(class="form-label" )}}
            <p>{{ form.company_revenue(class="form-control", value=account.CompanyRevenue) }}</p>
            
            {{ form.employee_head_count.label(class="form-label" )}}
            <p>{{ form.employee_head_count(class="form-control", value=account.EmployeeHeadCount) }}</p>
    
            {{ form.company_specialties.label(class="form-label" )}}
            <p>{{ form.company_specialties(class="form-control", value=account.CompanySpecialties) }}</p>
    
            {{ form.company_type.label(class="form-label" )}}
            <p>{{ form.company_type(class="form-control", value=account.CompanyType) }}</p>
    
            {{ form.country.label(class="form-label" )}}
            <p>{{ form.country(class="form-control", value=account.Country) }}</p>
    
            {{ form.city.label(class="form-label" )}}
            <p>{{ form.city(class="form-control", value=account.City) }}</p>
            
            {{ form.timezone.label(class="form-label" )}}
            <p>{{ form.timezone(class="form-control", value=account.Timezone) }}</p>
    
            <br>
            {{ form.submit(class="btn btn-primary", value="Modify") }}

            <a href="{{ url_for('accounts_list')}}" class = "btn btn-secondary" style="float: center;">Discard</a>

            <a href="{{ url_for('delete', id=id)}}"  class="btn btn-danger text-center">Delete</a>
            </form>

        </form>
    </div>

<br/>

{% endblock %}