{% extends 'base.html' %}
{% block title %}User{% endblock %}
{% block content %}

<div class="userManagementMenu">  <!-- menu-->
    <div class="UserManagement-item"> <a href="#">User Management</a></div>    
    <div class="UserManagement-item"> <a href="#">Role Management</a></div>  
    <div class="UserManagement-item"> <a href="#">Custom Fields</a></div>
    <div class="UserManagement-item"> <a href="#">System Configuration</a></div>
</div>

<p>User: {{user}}</p>
<p>Password: {{password}}</p>

{% endblock %}