body{
    font-family: Arial, Helvetica, sans-serif;
}

/*following is for login page*/
.loginForm{

  /*posititioning and radius*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(66, 65, 67);
  border-radius: 10%;
  
  /* is for input Boxes for UserID and Password */
.inputValues{
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
  }

}

/*login button*/
.loginSubmit{
  button[type=submit] {
    width: 100%;
    padding: 12px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d2caca;
    box-sizing: border-box;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: #000000
    
  }

  /*Hovering for Login button*/
  button:hover[type="submit"]{
    background-color: #ccc6c6;

  }
}

}
/* Following is navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px; /* new update 7/19; made round edges */
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%; 
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 18px;
  display: block;
  text-align: center;
  font-size: 20px;
}

.navbar a:hover {
  background-color: rgb(0, 157, 255);
  transition: background-color 0.25s;
}

.navbar li {
  float: left;
  text-align: center; 
}

.navbar-right {
  margin-left: auto; /* Pushes the UserID to the far right */
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.leadsMenu,
.helpMenu,
.AccountsMenu,
.AnalyticsMenu,
.MarketingMenu, 
.OpportunitiesMenu,
.SalesMenu,
.ServiceMenu,
.UserManagementMenu
 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  justify-content: center;

 }

.leadsMenu a,
.helpMenu a,
.AccountsMenu a,
.AnalyticsMenu a,
.MarketingMenu a, 
.OpportunitiesMenu a,
.SalesMenu a,
.ServiceMenu a,
.UserManagementMenu a{
  display: block;
  text-decoration: none;
  color: black;
}

.lead-item,
.help-item,
.accounts-item,
.analytics-item,
.marketing-item,
.opportunities-item,
.sales-item,
.service-item,
.userManagement-item,
.help-item
{
  background-color: rgba(243, 243, 243, 0.238);
  border: 2px solid rgba(0, 0, 0, 0.8);  
  padding: 45px;
  font-size: 20px; 
  text-align: center;
  border-radius: 10px; /*added round edges(can change)*/
  transition: background-color 0.25s;
}
.lead-item a,
.accounts-item a,
.analytics-item a,
.marketing-item a,
.opportunities-item a,
.sales-item a,
.service-item a,
.userManagement-item a,
.help-item a
{ 
  color: rgb(0, 0, 0);
  text-decoration: none;

}
.lead-item:hover,
.accounts-item:hover,
.analytics-item:hover,
.marketing-item:hover,
.opportunities-item:hover,
.sales-item:hover,
.service-item:hover,
.userManagement-item:hover,
.help-item a:hover
{
  background-color: rgb(0, 157, 255);
  color: black;
}

.lead-item a.active,
.accounts-item a.active,
.analytics-item a.active,
.marketing-item a.active,
.opportunities-item a.active,
.sales-item a.active,
.service-item a.active,
.userManagement-item a.active,
.help-item a a.active
{
  background-color: #2189c5;
  color: rgb(253, 255, 255);
}
