{% extends 'base.html' %}

{% block title%}ERPCRM - Admin{% endblock %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Client</th>
            <th scope="col">Valid From</th>
            <th scope="col">Valid To</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row"><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
                href="#">{{ user.Email }} </th>
            <td>{{ user.Client }}</td>
            <td>{{ user.ValidFrom }}</td>
            <td>{{ user.ValidTo }}</td>
        </tr>
        {% endfor %}
</table>



{% endblock  %}