{% extends 'base.html' %}

{% block title %}ERPCRM - Analytics{% endblock %}

{% block content %}

<div class="analyticsMenu">  <!-- menu--> 
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Sales Report</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Lead Report</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Performance Report</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Custom Reports</a>
</div>
<hr>

<form method="POST">
           
    {{ form.hidden_tag()}}

   
    {{ form.submit(class="btn btn-primary", value="Generate Suggestions") }}

</form>

<br>

{% if message %}
{% autoescape false %}
{{ message | replace('\n', '<br>') }}
{% endautoescape %}
{% endif %}

{% endblock %}