{% extends 'base.html' %}

{% block title %}ERPCRM - Analytics{% endblock %}

{% block content %}

<div class="analyticsMenu">  <!-- menu-->
    <div class="Analytics-item"> <a href="#Sales Report">Sales Report</a></div>    
    <div class="Analytics-item"> <a href="#Lead Report"> Lead Report </a></div>  
    <div class="Analytics-item"> <a href="#Performance Reports"> Performance Reports</a></div>  
    <div class="Analytics-item"> <a href="#Custom Reports"> Custom Reports</a></div>  
</div>
{% endblock %}