{% extends 'base.html' %}

{% block title %}ERPCRM - Analytics{% endblock %}

{% block content %}

<div class="analyticsMenu">  <!-- menu-->
    <div class="Analytics-item"> <a href="#Sales Report">Sales Report</a></div>    
    <div class="Analytics-item"> <a href="#Lead Report"> Lead Report </a></div>  
    <div class="Analytics-item"> <a href="#Performance Reports"> Performance Reports</a></div>  
    <div class="Analytics-item"> <a href="#Custom Reports"> Custom Reports</a></div>  
</div>
<hr>

<form method="POST">
           
    {{ form.hidden_tag()}}

   
    {{ form.submit(class="btn btn-primary", value="Generate Suggestions") }}

</form>

<br>

{% if message %}
{% autoescape false %}
{{ message | replace('\n', '<br>') }}
{% endautoescape %}
{% endif %}

{% endblock %}