{% extends 'base.html' %}
{% block title %}ERPCRM - Leads{% endblock %}

{% block content %}



<div class="accountsMenu">   <!--Leads menu-->
    <a class="btn btn-secondary btn-lg" href="{{ url_for('new_lead') }}" role="button">New Lead</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('leads_list') }}" role="button">Leads List</a>    
    <a class="btn btn-secondary btn-lg" href="#" role="button">Leads Import</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Leads Scoring</a>
</div>

{% endblock %}





