{% extends 'base.html' %}
{% block title %}ERPCRM - Opportunities{% endblock %}

{% block content %}

<div class="opportunitiesMenu">  <!-- menu-->

    <a class="btn btn-secondary btn-lg" href="{{ url_for('new_opportunity') }}" role="button">New Opportunity</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('opportunities_list') }}" role="button">Opportunities List</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Pipeline View</a>    
    <a class="btn btn-secondary btn-lg" href="#" role="button">Sales & Forecasts</a>

</div>

{% endblock %}