{% extends 'base.html' %}
{% block title %}ERPCRM - Sales{% endblock %}


{% block content %}


<div class="salesMenu">  <!-- menu-->

    <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('sales_list') }}" role="button">Sales List</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Quotes</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Invoices</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Sales Report</a>
    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Sales & Forecasts</a>
</div>
{% endblock %}