body{
    font-family: Arial, Helvetica, sans-serif;
}




/* Following is navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px; /* new update 7/19; made round edges */
  padding: 0;
  margin: 0px; /* added due to bootstrap formatting */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%; 
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 18px;
  display: block;
  text-align: center;
  font-size: 20px;
}

.navbar a:hover {
  background-color: rgb(0, 157, 255);
  transition: background-color 0.25s;
}

.navbar li {
  float: left;
  text-align: center; 
}

.navbar-right {
  margin-left: auto; /* Pushes the UserID to the far right */
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Shadowed div */
.rounded {
  width: 50%;
  max-width: 500px;
  margin: auto; 
}

.table {
  width: 95%;
  margin: auto;
  border: 2px solid black; 
  
}

.btn {
  
}

/* 
.loginForm{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(66, 65, 67);
  border-radius: 10%;
  
.inputValues{
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
  }

}

.loginSubmit{
  button[type=submit] {
    width: 100%;
    padding: 12px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d2caca;
    box-sizing: border-box;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: #000000
    
  }

  button:hover[type="submit"]{
    background-color: #ccc6c6;

  }
} 
*/
